/* Styling for the title of the books page */
.books-page-title {
    text-align: center;
}

/* Styling for the card of each book */
.book-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Adds a shadow effect */
    max-width: 60%; /* Set maximum width */
    margin: auto; /* Center the card */
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 10px; /* Spacing between each card */
    border-radius: 10px; /* Rounded corners */
    max-height: 80px;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}

/* Styling for the card when it is hovered over */
.book-card:hover {
    max-height: 1000px;
}

/* Styling for the container of the book card */
.container, .book-card {
    background-color: #F0F0F0;
    color: #000000;
}

/* Styling for the header within the book card */
.book-card .header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: baseline;
}

/* Styling for the headings within the book card */
.book-card h1 {
    font-size: 18px;
    color: #333333;
}

/* Styling for the paragraph text within the book card */
.book-card p {
    padding: 20px;
    text-align: justify;
}

/* Styling for the links within the book card headings */
.book-card h1  a {
    text-decoration: none;
    color: #333333;
}

/* Styling for visited links within the book card headings */
.book-card h1 a:visited {
    color: #333333;
}

/* Styling for hovered links within the book card headings */
.book-card h1 a:hover {
    color: #007BFF;
    text-decoration: underline;
}

/* Styling for the header within the book page */
.book-page .header {
    text-align: center;
    margin-bottom: 20px;
}

/* Styling for the headings within the book page */
.book-page h1 {
    font-size: 24px;
    color: #333333;
}

/* Styling for the review box */
.review-box {
    background-color: #F0F0F0;
    color: #000000;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.1);
    width: 80%;
    margin: 0 auto; /* Center the box */
    font-family: 'Merriweather', serif;
}

/* Responsive design for screens with a max-width of 768px */
@media (max-width: 768px) {
    .review-box {
        width: 95%;
    }
}

/* Set maximum width for the book card and review box */
.book-card,
.review-box {
    max-width: 800px;
    margin: auto;
}
