body {
    background-color: #F6F6F6;
}

.container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 60%;
    margin: auto; /* center the container */
    display: flex;
    padding: 20px;
    border-radius: 15px;
}

.container .profile-image {
    flex: 0 0 30%;
    margin-right: 20px;
    height: 200px;
    width: 200px;
    background-color: blue;
    border-radius: 50%; /* to make the shape an ellipse */
}

.container .intro-text {
    flex: 1;
}

@media only screen and (max-width: 600px) {
    /* For mobile phones: */
    .container {
        width: 80%;
    }
}
